<% if @user == current_user %>
    <h3>Welcome, <%= @user.username %>! || <a href='/users'>View All Users</a></h3>
    <p>Mark a task finished, click on a task to edit, or <a href='/tasks/new'>create</a> a new task -</p>
    <form action='/logout'>
        <% @tasks.each do |task| %>
            <input type='checkbox'><a href='/tasks/<%= task.id %>/edit'><%= task.task_descr %></a><br></input>
        <% end %><br>

        <a href='/logout'><input type='submit' value='Logout'></a><br><br>
    </form>
<% else %>
    <h3><%= @user.username %> || <a href='/users'>View All Users</a></h3>
    <p>Their tasks for the day -</p>
    <form action='/logout'>
        <% @tasks.each do |task| %>
            <ul>
                <li><%= task.task_descr %><br></li>
            </ul>
        <% end %>
    
        <a href='/logout'><input type='submit' value='Logout'></a><br><br>
    </form>
<% end %>

